[Unit]
Description=Transparent Proxy Mixed Mode (TCP REDIRECT + UDP TPROXY) for %i
After=network-online.target sing-box@%p.service
BindsTo=sing-box@%p.service
Requires=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
Environment=PROXYCORE=%i
ExecStart=/usr/local/libexec/redir-tproxy.sh start
ExecStop=/usr/local/libexec/redir-tproxy.sh stop

[Install]
WantedBy=multi-user.target

